{% extends 'base.html' %}

{% block content %}
  <ul class="lista">
    <li>
      <a href="{% url 'simple_upload' %}" class="waves-effect waves-light btn">Envio Simples</a>
    </li>
    <li>
      <a href="{% url 'model_form_upload' %}" class="waves-effect waves-light btn">Nova Imagem</a>
    </li>
  </ul>

  <h1>Imagens enviadas:</h1>
{#  <ul>#}
{#    {% for obj in documents %}#}
{#      <li>#}
{#        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>#}
{#        <small>(Uploaded at: {{ obj.uploaded_at }})</small>#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
    <table class="responsive-table">
  <tr>
    <th>Original</th>
    <th>Alterada</th>
  </tr>
         {% for obj in documents %}
  <tr>
    <td>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
         <small>(Uploaded at: {{ obj.uploaded_at }})</small>
    </td>
    <td>  <a href="{{ obj.imagem.url }}">{{ obj.imagem.name }}</a></td>
  </tr>
    {% endfor %}
</table>

{% endblock %}