{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="waves-effect waves-light btn">Enviar</button>
  </form>

  <p><a href="{% url 'home' %}">Retornar</a></p>
{% endblock %}