<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Simple File Upload</title>

      <style>
         .lista li {
              margin: 10px;
          }

          ul li a {
            padding: 2px 10px;
            display: inline-block;
          }
      </style>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">TÓPICOS II</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'scaling' %}">Escala</a></li>
        <li><a href="{% url 'points' %}">Detecção pontos de interesses</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <div class="row">
       {% block content %}
    {% endblock %}
  </div>
</div>
   <!-- Compiled and minified JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
       $(document).ready(function(){
            $('select').formSelect();
            $('.sidenav').sidenav();
        });
    </script>
  </body>
</html>